
div.x{
    border:1px solid aqua;
    text-align:center;
    position:fixed;
    background-color: aqua;
    bottom: 585px;
    top:5px;
      right: 200px;
      left: 400px;
      width: 500px;
    
    }
    
    div.y{
    border:2px solid blue;
    text-align:center;
    position:fixed;
    bottom: 200px;
    top: 100px;
    left: 70px	;
      right: 0;
      width: 300px;
    }
    
    div.z{
    border:2px solid blue;
    text-align:center;
    position:fixed;
    bottom:200px;
    top: 100px;
    left: 800px	; 
    text-indent: 5px;
    table-layout: fixed ;
    
      right: 600px;
      width: 400px;
    }
    
    input.border{
        border-radius: 5px;
        
    }
    label.mar{
        margin-left: 1px;
        margin-right: 30px;
    }
    
    label.marg{
        margin-left: 10px;
        margin-right: 140px;
    }
    
    input.marm1{
        margin-left: -100px;
    }
    
    input.marm2{
        margin-left: 45px;
        left: 5px;
    }
    