*{
    box-sizing:border-box;
    font-family:'consolas';
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf1f4;
    min-height: 100vh;
}

.calculator{
    position: relative;
    width: 340px;
    padding: 20px;
    box-shadow: 15px 15px 20px rgb(185, 181, 181),
    -15px -15px 20px #fffb;
    border-radius: 20px;
}
.calculator .buttons
{
    position: relative;
    display: grid;

}
.calculator .buttons #value
{
    position: relative;
    grid-column: span 4;
    overflow:none ;
    width: 100%;
    text-align: end;
    color: #5166d6;
    font-size: 2em;
    min-width: 10px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 20px;
    padding : 10px;
    line-height: 85px;
    height: 100px;
    user-select: none;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #fff;
}

.calculator .buttons span{
    position: relative;
    text-align: center ;
    padding: 10px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
     -5px -5px 20px #fff;
    margin:8px;
    cursor: pointer;
    min-width: 50px;
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    border: 2px solid #edf1f4;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;   
    border-radius: 10px; 
}

.calculator .buttons span:active{
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff; 
    color:#f44336;
}

.calculator .buttons span#clear{
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;
}

.calculator .buttons span#plus{
    grid-row: span ;
    background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}

.calculator .buttons span#equal{
    grid-row: span 2 ;
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;
}

.calculator .buttons span#erase{
    grid-column: span ;
    background: #44484b;
    color: #fff;
    border: 2px solid #edf1f4;
}


.calculator .buttons span#equal:active,
.calculator .buttons span#erase:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#clear:active{
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}





